@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-geist-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-baskerville: var(--font-baskerville);
  --font-sans: var(--font-caslon);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.paper p {
  margin: 0;
  text-indent: 1.25em;
}

.paper p:first-of-type {
  text-indent: 0;
}